{% extends "base/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block body %}
        <center>
            <div id="inferior1">
            <h1><b>{% trans "Dashboard" %}</b></h1><br>
            
                    <div class="panel panel-default">
                        <div class="panel-heading">Why should you choose us</div>
                        Decades of experiance in all financial advisory services.
                        Why should you choose us

                        Decades of experiance in all financial advisory services.
                    
                        Quality support and guidence available all the  time 
                    
                        We are one of the leaders in financial services with over 25+ Years of experiance with wide spectrum of financial , insurance , mutual funds, stock broking, Loans, Accounting & Tax filing, etc.
                    
                    
                    </div>
            </div>
           </div>
            <br/>
            <br/>
        </center>
        <div class="clearfix"></div>
{% endblock %}
